<div id="dropdown" (mouseleave)="isCollapsed = true">
	<div [ngClass]="{'resultView': isCollapsed, 'resultViewOpened': !isCollapsed }" (click)="isCollapsed = !isCollapsed" >
		<span id="text">{{resultView == '' ? this.translationsService.getTranslation(placeholder) : resultView}}</span>
		<div id="downIcon"><i class="fa fa-chevron-circle-down"></i></div>
	</div>
	<div id="list" *ngIf="!isCollapsed" >
		<div class="listItem" *ngFor="let row of items" (click)="itemChecked(row.item.key)">
			<div class="checkbox" [ngClass]="{'checked': row.checked}"></div>
			<span class="rowSign">{{translationsService.getLanguageName(row.item.value)}}</span>
		</div>
	</div>
</div>