html {
    height: 100%;
    box-sizing: border-box;
}

h2{
    margin-left: 1%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


@media (min-width: 624px) {
    body {
        position: relative;
        margin: 0;
        padding-bottom: 160px;
        padding-top: 50px;
        min-height: 100%;
        font-family: "Helvetica Neue", Arial, sans-serif;
    }
}

@media (max-width: 624px) {
    body {
        position: relative;
        margin: 0;
        padding-bottom: 250px;
        padding-top: 50px;
        min-height: 100%;
        font-family: "Helvetica Neue", Arial, sans-serif;
    }
}

@media (max-width: 372px) {
    body {
        position: relative;
        margin: 0;
        padding-bottom: 360px;
        padding-top: 50px;
        min-height: 100%;
        font-family: "Helvetica Neue", Arial, sans-serif;
    }
}


i.fa {
    font-size: 150%;
    color: white;
    margin: 50px;
}



footer {
    text-align: center;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}