<h2>{{translationsService.getTranslation('TranslatorTitle')}}</h2>
<div id="about">{{translationsService.getTranslation('TranslatorAbout')}}</div>
<div id="translation-panel">
    <div id="translation" *ngFor="let lang of languages">
        <span id="languageName">{{translationsService.getLanguageName(lang)}}:</span> <span id="translationText">{{getBrailleTranslation(lang)}}</span>
    </div>
</div>
<div id="note">{{translationsService.getTranslation('TranslatorNote')}}</div>
<div class="container">
    <div class="row" id="panel">
        <div *ngFor="let pane of panes; let id = index">
            <braille-pane [paneId]="id" (click)="onPaneClicked(id)" [letter]="pane.letter"></braille-pane>
        </div>
    </div>
    <div class="row" id="addPane">
        <div>
            <button class="btn btn-success" (click)="addPane()"><i class="fa fa-plus"></i> {{translationsService.getTranslation('TranslatorAdd')}}</button>
            <button class="btn btn-info" (click)="share(); popupToggle = !popupToggle"><i class="fa fa-save"></i> {{translationsService.getTranslation('TranslatorCopyShareLink')}}</button>
            <button class="btn btn-danger" (click)="clearPanel()"><i class="fa fa-close"></i> {{translationsService.getTranslation('TranslatorClear')}}</button>
            <div id="langSelect">
                <label for="langSelect">{{translationsService.getTranslation('TranslatorSelectLanguage')}}</label>
                <select class="form-control" (change)="onLanguageChanged($event.path[0].value)">
                    <option *ngFor="let lang of supportedLanguages" [value]="lang">{{translationsService.getLanguageName(lang)}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<braille-dropdown></braille-dropdown>

<!-- popup with saved translation link -->
<braille-popup [headerText]="translationsService.getTranslation('TranslatorCopyShareLink')" [on]="popupToggle" (popupClosed)="popupToggle=false"><a href="{{link}}">{{link}}</a></braille-popup>
