<div id="translation-panel">
  <div id="translation" *ngFor="let lang of languages">
    <span id="languageName">{{translationsService.getLanguageName(lang)}}:</span> <span id="translationText">{{getBrailleTranslation(lang)}}</span>
  </div>

</div>
<div class="container">
  <div class="row" id="panel">
    <div *ngFor="let pane of panes; let id = index">
      <braille-pane [paneId]="id" (click)="onPaneClicked(id)" [letter]="pane.letter"></braille-pane>
    </div>
  </div>
  <div class="row" id="addPane">
    <div>
      <button class="btn btn-success" (click)="addPane()">{{translationsService.getTranslation('add')}}</button>
      <button class="btn btn-danger" (click)="clearPanel()">{{translationsService.getTranslation('clear')}}</button>
      <div id="langSelect">
        <label for="langSelect">{{translationsService.getTranslation('selectLanguage')}}</label>
        <select class="form-control" (click)="onValueChanged($event.path[0].value)"> 
          <option *ngFor="let lang of supportedLanguages" [value]="lang">{{translationsService.getLanguageName(lang)}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<input [value]="aaa" (change)="onValueChanged1($event.target.value)" type="text">
<p>{{aaa1}}</p>